            {%- if site.email -%}
            
            <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a>
            {% endif %}
            {%- if site.instagram_id -%}
            <a href="https://instagram.com/{{ site.instagram_id }}" title="Instagram"><i class="fab fa-instagram"></i></a>
            {% endif %}
            {%- if site.facebook_id -%}
            <a href="https://facebook.com/{{ site.facebook_id }}" title="Facebook"><i class="fab fa-facebook"></i></a>
            {% endif %}
            {%- if site.youtube_id -%}
            <a href="https://youtube.com/@{{ site.youtube_id }}" title="YouTube"><i class="fab fa-youtube"></i></a>
            {% endif %}

            <!--{%- if site.rss_icon -%}
            <a href="{{ site.baseurl }}/feed.xml" title="RSS Feed"><i class="fas fa-rss-square"></i></a>
            {% endif %}-->
