.post {
  background: white;
  margin: 2em auto;
  max-width: 60rem;
  padding: 2em 0;
  box-shadow: 12px 18px 24px rgba(darken($brand-color, 50%), .1);
}

.post > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
  padding: 0 1em;
}

.post > h1 {
  font-size: 2em;
  max-width: 48rem;
  padding: 0em 1em; 
  /*padding: 2em 1em;*/
  text-align: center;
}

.post p {
  text-align: justify;
  text-indent: 1.5em;
  text-justify: inter-word;
}

.post p:first-of-type,
.post h2 + p {
  text-indent: 0;
}

.post a:hover {
  background: $highlight;
}

.post dl,
.post ul,
.post ol {
  margin: 1.5em;
}

.post li {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.post-content:first-child {
  margin-top: 4em;
}

.post-meta {
  margin-bottom: 2em;
  margin-top: 2em;
  text-align: right;
}

.back-link {
  display: inline-block;
  font-size: .75em;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

.posts-back-button {
  font-size: 1.5rem;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.stars {
  padding: 1rem
}

.checked {
  color: rgb(254, 222, 0);
}

.subtitle {
  font-weight: bold;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery-item {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.gallery-image:hover {
  transform: scale(1.05);
}



.responsive-iframe-container {
  position: relative;
  /* Maintain the aspect ratio for 16:9 videos */
  padding-bottom: 46.25%;
  height: 0;
  overflow: hidden;
  /* Center the container */
  margin-left: auto;
  margin-right: auto;
  /* Set a max-width to match the video's width or 100% if it needs to be fluid */
  max-width: 560px; /* Adjust this value based on your design needs */
}

.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  /* Centering the iframe horizontally */
  left: 50%;
  /* Adjust width back to 100% to fill the container */
  width: 88.5%;
  /* Transform to perfectly center the iframe */
  transform: translateX(-50%);
  /* Set height as desired */
  height: 400px;
}

@media (min-width: 720px) and (max-width: 920px) {
  .responsive-iframe-container {
    /* Adjust size and/or positioning for smaller screens */
    padding-bottom: 60%;
  }
}




@media (min-width: 520px) and (max-width: 720px) {
  .responsive-iframe-container {
    /* Adjust size and/or positioning for smaller screens */
    padding-bottom: 80%;
  }
}


@media (min-width: 425px) and (max-width: 520px) {
  .responsive-iframe-container {
    /* Adjust size and/or positioning for smaller screens */
    padding-bottom: 100%;
  }
}


@media (min-width: 380px) and (max-width: 425px) {
  .responsive-iframe-container {
    /* Adjust size and/or positioning for smaller screens */
    padding-bottom: 110%;
  }
}

@media (min-width: 355px) and (max-width: 380px) {
  .responsive-iframe-container {
    /* Adjust size and/or positioning for smaller screens */
    padding-bottom: 120%;
  }
}

@media (min-width: 200px) and (max-width: 355px) {
  .responsive-iframe-container {
    /* Adjust size and/or positioning for smaller screens */
    padding-bottom: 150%;
  }
}


